$first:#f8f7a5;
$second:#d4c07a;
$third:#a1583e;
$fourth:#d19178;
$pinkish:#ff9eb1;
$background:#ffffe9;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=IBM+Plex+Sans:wght@700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200&display=swap');
//fonts
$peso: 'Work Sans', sans-serif;
$lobster: 'Lobster', cursive;
$ibxsans: 'IBM Plex Sans', sans-serif;
$stylish:  'Dancing Script', cursive;
$vibes: 'Great Vibes', cursive;
$condensed: 'Barlow Semi Condensed', sans-serif;

@mixin align {
display: flex;
justify-content: center;
align-items: center;
}

@mixin space {
display: flex;
justify-content: space-between;
align-items: center;
}
@mixin aroundz {
display: flex;
justify-content: space-around;
align-items: center;
}

*{
margin: 0;
padding:0;
box-sizing: border-box;
scroll-behavior: smooth;
}

@import './home.scss';
@import './about.scss';
@import './todaysfav';
@import './menu.scss';
@import './social-links.scss';
@import './specialmenu.scss';
@import './popupmsg.scss';


.footersec{
padding: 50px;
display: flex;
justify-content: center;
align-items: center;
background: #b1e0da;
}
.footer-imgbx{
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
}
.custom-tell{
margin: 0 auto;
}
.footer-categ{
margin: 0 auto;
}
.aprilbx{
    height: 180px;
    width: 180px;
border-radius: 50%;
overflow: hidden;
.footer-img{
height: 100%;
width: 100%;
}
}
.followus{
margin-left: -20px;

}
.footer-aa{
color:#311716;
font-size: 1.5rem;
padding-right: 3px;

}

.custom-tell{
font-family: $peso;
color: #311716;
}
.cst-one{
   
}
.custom-head{
font-weight:700;
font-size: 1.1rem;
}
.custom-cnt{

    
}
.custom-a{
    color: #311716;
    font-size: 1.2rem;
}
.tell-head{
    font-weight:700;
    font-size: 1.1rem;
    margin-top: 20px;
}
.tell-a{
    color: #311716;
    font-size: 1.2rem;

}

.footer-categ{


.footer-nav{
list-style: none;
}
}
.footer-li{
padding: 10px 0;
font-family: $ibxsans;

&:hover{
text-decoration: line-through;
}
}

.footer-a{
text-decoration: none;
color: #311716;
}

.last-footer{
text-align: center;
padding: 8px 0;
font-family: $ibxsans;
background:  #311716;
color: $first;
}

@media(max-width: 1100px){
    .custom-tell{
        display: none;
        }
}
@media(max-width:700px){

.footer-categ{
display: none;
}
.custom-tell{
display: none;
}
}



// orderbreads
.ourbreadsec{
position: relative;
background: $background;
padding: 90px 20px;
}
.ourbreadz-container{
@include aroundz();
flex-wrap: wrap;
margin-bottom: 50px;
}
.ourbread{
display: flex;
justify-content: space-evenly;
align-items: center;
flex-direction: column;
position: relative;
overflow: hidden;
border-radius: 10px;
margin: 30px auto;
}
.ourbreadimgbx{
overflow: hidden;
border-radius: 15px;    
max-width: 200px;
.ourbreadimg{
width: 100%;
height: 100%;
}
}
.bananabreadttlebx{
margin-bottom: 70px;
text-align: center;
}
.ourbananabread{
color: $third;
font-size: 3.2rem;
position: relative;
z-index: 22;
font-family: $condensed;
}
.bananaline{
height: 3px;
border-radius: 35px;
width: 100%;
background: $third;
}

.requestbtnbx{
display: flex;
align-items: center;
justify-content: centers;
width: 100%;
flex-direction: column;
margin-bottom: 100px;
.req-cnt{
font-family: $peso;
font-size: 1.5rem;
color: $third;
justify-content: center;
align-items: center;
margin-bottom: 10px;
}
.requestnow, .requestcookie{
outline: none;
margin-left: 15px;
padding: 5px 11px;
font-family: sans-serif;
color: white;
background: $fourth;
border: none;
border-radius: 35px;
font-size: 1.2rem;
margin-top: -2px;
cursor: pointer;
}
.requestnow:hover{
color: $first;
background: $third;
}
.requestnow:active{
    color: $first;
    background: $third;
    }
}

.delivery-container{
background: $second;
padding: 70px 0;
}
.deliverbx{
margin-bottom: 40px;
@include align();
flex-direction: column;
width: 100%;
color: white;
}
.deliver-hone{
font-family: $peso;
font-size: 2.1rem;
}
.deliver-cnt{
font-family: sans-serif;
font-size: 1.2rem;
}
.ourdeliverybx{
@include align();
}
.deliveryone{
width: 500px;
height: 320px;
margin: 40px auto;
.deliveryimg{
width: 100%;
height: 100%;
}
}
@media(max-width: 740px){
    .requestbtnbx{
        display: flex;
        align-items: center;
        justify-content: centers;
        width: 100%;
        flex-direction: column;
        .req-cnt{
        font-family: $peso;
        font-size: 1.4rem;
        color: $third;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        }
        .requestnow{
        outline: none;
        margin-left: 15px;
        padding: 5px 11px;
        font-family: sans-serif;
        color: white;
        background: $fourth;
        border: none;
        border-radius: 35px;
        font-size: 1.2rem;
        margin-top: -2px;
        cursor: pointer;
        }
        }


        .ourdeliverybx{
            @include align();
            flex-wrap: wrap;
            }
            .deliveryone{
            width: 440px;
            height: 320px;
            .deliveryimg{
            width: 100%;
            height: 100%;
            }
            }
}
// Contact PAGE

.contact{
padding: 100px;
@include space();
background: $first;
position: relative;
form{
margin: 30px auto;
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
position: relative;
z-index: 11;
}
.contact-des{
margin: 30px auto;
height: 300px;
width: 300px;
position: relative;
z-index: 2;
}
.contact-des .contact-img{
height: 100%;
width: 100%;
}
}
.circle-two{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: $second;
clip-path: circle(600px at right 780px);
z-index: 1;
}

.inp-name{
background: none;
outline: none;
padding: 10px 10px 5px 5px;
border: none;
border-bottom: 1px solid $third;
font-size: 1.2rem;
width: 200px;
}
.inp-name::placeholder, .inp-email::placeholder, #message::placeholder {
color: $fourth;
}
.inp-email{
    background: none;
    outline: none;
    padding: 10px 10px 5px 5px;
    border: none;
    border-bottom: 1px solid $third;
    font-size: 1.2rem;
    width: 280px;  
    margin-bottom: 5px; 
}
#message{
    background: none;
    outline: none;
    padding: 10px 10px 5px 5px;
    border:none;
    font-size: 1.4rem;
    width: 300px; 
    height: 180px;
}
.contact-btn{
padding: 8px 12px;
border: none;
border-radius: 5px;
background: #a1583e;
color: white;
cursor: pointer;
}

////////////////////////////////// FOOTER AREA






































/* -----------------MOBILE RESPONSIVE ------*/

.menubx{
height: 70px;
width: 40px;
@include align();
cursor: pointer; 
position: relative;
display: none;
}
.menuline{
height: 3px;
width: 70%;
background-color: $first;
border-radius: 35px;
transition: .2s;
position: relative;
&::before{
content: '';
position: absolute;
height: 3px;
width: 100%;
transform: translateY(-8px);
background: $first;
border-radius: 35px;
transition: .2s;
}
&::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    transform: translateY(8px);
    background: $first;
    border-radius: 35px;
    transition: .2s;
}
}
.menubx:active .menuline{
background: coral;
transition: .2s;
}

.menubx:active .menuline::before{
    background: coral;
    transition: .2s;
    }
    .menubx:active .menuline::after{
        background: coral;
        transition: .2s;
        }

