$first:#f8f7a5;
$second:#d4c07a;
$third:#a1583e;
$fourth:#d19178;
$pinkish:#ff9eb1;
$background:#ffffe9;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=IBM+Plex+Sans:wght@700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

//fonts
$peso: 'Work Sans', sans-serif;
$lobster: 'Lobster', cursive;
$ibxsans: 'IBM Plex Sans', sans-serif;
$stylish:  'Dancing Script', cursive;
$vibes: 'Great Vibes', cursive;

@mixin align {
display: flex;
justify-content: center;
align-items: center;
}

@mixin space {
display: flex;
justify-content: space-between;
align-items: center;
}

*{
margin: 0;
padding:0;
box-sizing: border-box;
scroll-behavior: smooth;
}

/* HOME */
@import './home.scss';
@import './about.scss';
@import './todaysfav';
@import './menu.scss';


//social links
.social-links{
position: fixed;
top: 28%;
left: 2%;
transform: translate(-50%, 50%);
z-index: 55;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.link{
    color:#b1e0da;
    padding: 15px 0;
transition: .3s;
&:hover{
color: brown;
transform: scale(2);
transition: .3s;
}
}
@media(max-width:740px){
    .social-links{
        position: fixed;
        top: 28%;
        left: 5%;
        transform: translate(-50%, 50%);
        z-index: 55;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        }
           
}

// SPECIAL MENU

.specialmenu{
padding: 80px 80px 80px 80px;
position: relative;
height: auto;
background: rgba(0,0,0,.5);
}

.special-titlebx{
margin-bottom: 50px;
text-align: center;
.stylish-special{
font-family: $vibes;
font-size: 3.2rem;
color: $first;
}
.menu-special{
font-family: $peso;
font-size: 2rem;
font-weight: 900;
color: white;
position: relative;
z-index: 1;
margin-top: -30px;
}
}
#special-background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
z-index: -1;
    }
.specialty-breads{
width: 220px;
height: 240px;
margin: 30px;
position: relative;
z-index: 22;
&::before{
content: '';
position: absolute;
height: 100%;
width: 100%;
border: 10px solid $first;
left: -30px;
top: -30px;
z-index: -1;
}

.special-name{
background: $first;
color: $third;
font-family: sans-serif;
text-align: center;
padding: 5px;
}
.special{
height: 100%;
width: 100%;
}
}

.special-cnt{
@include align();
flex-wrap: wrap;
margin-bottom: 40px;
}
.design-ad{
height: 70vh;
@include align();
.aprilmade{
height: 300px;
width: 690px;
position: relative;
z-index: 12;
}
}
.april-madeimg{
    height: 100%;
    width: 100%;
}

.special-orderdiv{
text-align: center;
}
.special-orderbtn{
background: $first;
border-radius: 35px;
border: none;
outline: none;
padding: 8px 15px;
font-family: sans-serif;
font-weight: 600;
font-size: 1.2rem;
color: $third;
transition: .6s;
cursor: pointer;
&:active{
transform: translateY(-20px);
transition: .6s;
color: white;
}
}
@media(max-width: 900px){
    .specialty-breads{
        width: 180px;
        height: 200px;
        margin: 50px auto;
        position: relative;
        z-index: 22;
        &::before{
            content: '';
            position: absolute;
            display: none;
            
    }     
    }
    .specialmenu{
        padding: 50px 20px;
        position: relative;
        height: auto;
        background: rgba(0,0,0,.5);
        }


        .design-ad{
            
            .aprilmade{
            height: 200px;
            width: 400px;
            position: relative;
            z-index: 12;
            }
            }
}
// DESIGN APRIL

// Contact PAGE

.contact{
padding: 100px;
@include space();
background: $first;
position: relative;
form{
margin: 30px auto;
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
position: relative;
z-index: 11;
}
.contact-des{
margin: 30px auto;
height: 300px;
width: 300px;
position: relative;
z-index: 2;
}
.contact-des .contact-img{
height: 100%;
width: 100%;
}
}
.circle-two{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: $second;
clip-path: circle(600px at right 780px);
z-index: 1;
}

.inp-name{
background: none;
outline: none;
padding: 10px 10px 5px 5px;
border: none;
border-bottom: 1px solid $third;
font-size: 1.2rem;
width: 200px;
}
.inp-name::placeholder, .inp-email::placeholder, #message::placeholder {
color: $fourth;
}
.inp-email{
    background: none;
    outline: none;
    padding: 10px 10px 5px 5px;
    border: none;
    border-bottom: 1px solid $third;
    font-size: 1.2rem;
    width: 280px;  
    margin-bottom: 5px; 
}
#message{
    background: none;
    outline: none;
    padding: 10px 10px 5px 5px;
    border:none;
    font-size: 1.4rem;
    width: 300px; 
    height: 180px;
}
.contact-btn{
padding: 8px 12px;
border: none;
border-radius: 5px;
background: #a1583e;
color: white;
cursor: pointer;
}

////////////////////////////////// FOOTER AREA


footer{
background:$third;
height: 45vh;
@include space();
align-items: center;
padding: 0 100px;
position: relative;
}

.footer-imgbx{
@include align();
align-items: flex-start;
margin: 0 auto;
}
.aprilbx{
height: 190px;
width: 190px;
background: #311716;
padding: 20px 30px;
border-radius: 50%;
border: 1px solid white;
margin-top: -28px;
.footer-img{
    height: 100%;
    width: 100%;
    }
    
}
.followus{
@include align();
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding-top: 50px;
margin-left: -50px;
position: relative;
z-index: 22;
a{
font-size: 24px;
color: $first;
padding-right: 10px;
}
}
.custom-tell{
@include align();
flex-direction: column;
align-items: flex-start;
padding: 50px;
}

.custom-head{
font-family: $peso;
color: $first;
font-size: 1.2rem;
}
.custom-cnt{
    font-family: $peso;
    color: $first;
    font-size: 1rem;
    opacity: .8;
    margin-bottom: 5px;
}
.custom-a{
font-family: $peso;
color: white;
font-weight: 900;
font-size: 1.2rem;
}
.custom-tell div{
margin-bottom: 20px;
}
.tell-head{
    font-family: $peso;
    color: $first;
    font-size: 1.4rem;
   
    margin-bottom: 3px;

}
.tell-cnt{
    font-family: $peso;
    color: $first;
    font-size: 1rem;
    margin-bottom: 8px;
}
.tell-a{
color: white;
font-family: $peso;
font-weight: 900;
}

////////////////CATEGORIES
.footer-nav{
list-style-type: none;
margin-top: -30px;
}
.footer-li{
margin: 20px;
}

.footer-a{
color: $first;
text-decoration: none;
font-family: $ibxsans;
font-weight: 600;
transition: .4s;
&:hover{
    color: white;
    transition: .4s;
text-decoration: line-through;
}
&:active{
    color: white;
    transition: .4s;
text-decoration: line-through;

}
}
@media(max-width:990px){
.footer-categ{
display: none;
}
.custom-tell{
display: none;
}
}
/* COPYRIGHT */
.last-footer{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
background: #5d3020;
height: 7vh;
@include align();
color: white;
}

/* -----------------MOBILE RESPONSIVE ------*/

.menubx{
height: 70px;
width: 40px;
@include align();
cursor: pointer; 
position: relative;
display: none;
}
.menuline{
height: 3px;
width: 70%;
background-color: $first;
border-radius: 35px;
transition: .2s;
position: relative;
&::before{
content: '';
position: absolute;
height: 3px;
width: 100%;
transform: translateY(-8px);
background: $first;
border-radius: 35px;
transition: .2s;
}
&::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    transform: translateY(8px);
    background: $first;
    border-radius: 35px;
    transition: .2s;
}
}
.menubx:active .menuline{
background: coral;
transition: .2s;
}

.menubx:active .menuline::before{
    background: coral;
    transition: .2s;
    }
    .menubx:active .menuline::after{
        background: coral;
        transition: .2s;
        }

